0428_telegram/tportable-x64.4.8.1/Telegram/Telegram.exe filter=lfs diff=lfs merge=lfs -text
小考/quiz9/owid-covid-data.csv filter=lfs diff=lfs merge=lfs -text
pydata-book-3rd-edition/pydata-book-3rd-edition/datasets/fec/P00000001-ALL.csv filter=lfs diff=lfs merge=lfs -text
